<app-navbar></app-navbar>
<body>
  <div class="container">
    <form id="form" style="margin-top: 4rem">
      <h3>Crear Categoria</h3>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Descripción:</label
            >
            <div class="input-group">
              <input
                class="form-control"
                name="description"
                [(ngModel)]="description"
                aria-label="With textarea" />
            </div>
          </div>
        </div>
      </div>
      <div class="" style="text-align: center; margin-top: 1rem">
        <button type="button" class="btn btn-primary" (click)="saveCategory()">
          Crear Categoria
        </button>
      </div>
    </form>
  </div>
</body>
<app-footer></app-footer>
