<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="table-container table-responsive">
        <table class="table table-dark table-bordered border-white table-hover">
          <thead class="text-center">
            <tr>
              <!-- <th><abbr title="Position">Pos</abbr></th> -->
              <!-- <th>Cuf</th> -->
              <th class="col-sm-3">Descripción</th>
              <th class="col-sm-3">Servicio</th>
              <th class="col-sm-2">Hora de Inicio</th>
              <th class="col-sm-2">Fecha Agendada</th>
              <th class="col-sm-2">Seguimiento Diagnóstico</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="table-info border-dark" [hidden]="variable2">
                            <td [colSpan]=" 9 " class="centered">
                                No hay Datos para la Busqueda!
                            </td>
                        </tr> -->
            <tr
              class="table-info border-dark"
              *ngFor="let appointment of appointments">
              <td>
                <p class="p2">{{ appointment.descripcion }}</p>
              </td>
              <td>
                <p class="center-pharagraph">{{ appointment.nombre }}</p>
              </td>
              <td>
                <p class="center-pharagraph">{{ appointment.hora_inicio }}</p>
              </td>
              <td>
                <p class="center-pharagraph">{{ appointment.fecha }}</p>
              </td>
              <td class="centered">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="getObservations(appointment.id)">
                  Seguimiento
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="ul" style="margin-top: 10px; position: relative; align-items: center; margin-bottom: 100px;">
                <pagination-controls (pageChange)="current_page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                
            </div> -->
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content accordion">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Diagnósticos</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body formatCard" style="align-items: center">
        <div
          class="row align-items-center"
          style="magin: 0 auto; margin-left: 1rem">
          <div
            class="card m-3"
            *ngFor="let observation of observations"
            style="width: 20rem">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center !important">
                Diagnóstico Número {{ observation.id }}
              </h5>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripción:</label>
                <textarea
                  class="form-control formatCard"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="{{ observation.descripcion }}"></textarea>
              </div>
              <div class="form-group">
                <label for="">Diagnóstico:</label>
                <input
                  type="text"
                  class="form-control formatCard"
                  placeholder="{{ observation.diagnostico }}" />
              </div>
              <div class="form-group">
                <label for="">Esteticista:</label>
                <input
                  type="text"
                  class="form-control formatCard"
                  placeholder="{{ observation.nombre }} {{
                    observation.apellido
                  }}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
