<app-navbar></app-navbar>
<div class="container">
  <div class="row mx-auto" style="height: 55vh">
    <div class="col-12 col-sm-8 centered">
      <img
        src="../../../assets/images/dalcySpa.jpeg"
        class="image"
        style="overflow: hidden !important" />
    </div>
    <div class="col-12 col-sm-4 centered">
      <img
        src="../../../assets/images/dalcySpaLogo.jpeg"
        class="imageLogo"
        style="overflow: hidden !important" />
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-12 col-sm-12 centered">
      <div class="card text-center" style="margin-top: 2rem">
        <div class="card-header">
          <h5 class="card-title">Especificaciones Dalcy Spa</h5>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Especificaciones Dalcy Spa</h5> -->
          <p class="card-text">
            “DALCY SPA” está comprometido en proveer servicios y productos para
            mejorar la salud de la piel, la apariencia física, ayudar al
            relajamiento físico y mental de sus clientes. Usan solo técnicas
            avanzadas e innovadoras, al más alto nivel de calidad y
            profesionalismo, todo en un ambiente relajante creado únicamente en
            DALCY SPA.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-sm-4 centered" >
            
            
        </div> -->
  </div>
  <hr />
  <!--   <df-messenger
    intent="WELCOME"
    chat-title="Asistente Virtual Dalcy Spa "
    agent-id="bd3858ca-5a7d-45fe-96c8-3f74079f742e"
    language-code="es"></df-messenger> -->
</div>
<app-footer></app-footer>
